@import url("https://fonts.googleapis.com/css?family=Mulish");
@import url("https://fonts.googleapis.com/css?family=DM Sans");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.parent .include {
  width: 40%;
  height: 100%;
}

main {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main img {
  margin: 20px 0;
  width: 170px;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .circle {
  width: 20px;
  height: 20px;
  background-color: #D1D1D1;
  margin: 2px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 12px;
  font-family: "Mulish";
}

main .circle-one {
  background-color: #00855D;
  position: relative;
  left: 2px;
}

main .circle-two {
  position: relative;
  left: -2px;
}

main .circle-three {
  position: relative;
  left: -6px;
}

main .dash {
  width: 30px;
  height: 1px;
  background-color: #D1D1D1;
}

main .dash-two {
  position: relative;
  left: -4px;
}

main .main-content {
  margin-top: 20px;
}

main .main-content h2 {
  color: #191919;
  font-family: "DM Sans";
  margin-top: 4px;
}

main .main-content p {
  font-family: "DM Sans";
  color: #8B8B8B;
}

main form {
  margin-top: 20px;
}

main form div:first-child {
  border: 2px solid #90E4CB;
  border-radius: 8px;
  padding: 8px 16px;
  width: 520px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

main form div:first-child p {
  font-family: "DM Sans";
  font-size: 10px;
  position: absolute;
  top: 3px;
  color: #AEAEAE;
}

main form div:first-child input {
  border: none;
  outline: none;
  width: 100%;
}

main form div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  margin-top: 20px;
}

main form div:nth-child(2) p {
  font-size: 14px;
  font-family: "DM Sans";
  color: #191919;
}

main form div:nth-child(2) p span {
  color: #00855D;
}

main form button {
  width: 240px;
  height: 52px;
  background-color: #00855D;
  border: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  margin: 20px 0;
  cursor: pointer;
}

main .ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

main .ask p {
  font-family: "DM Sans";
  font-size: 14px;
}

main .ask p:first-child {
  color: #696969;
}

main .ask p:last-child {
  color: #00855D;
}
/*# sourceMappingURL=index.css.map */