@import url("https://fonts.googleapis.com/css?family=DM Sans");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary: #00855D;
$custom-bgcolor: #D1D1D1;
$font: "DM Sans";


.parent {
    display: flex;

    .include {
        width: 40%;
        height: 100%;
    }
}

main {
    width: 60%;
    display: flex;
    padding-left: 100px;
    flex-direction: column;

    img {
        margin: 1.25rem 0;
        width: 10.625rem;
    }
    
    .container {
        display: flex;
        align-items: center;
    }

    .circle {
        width: 20px;
        height: 20px;
        background-color: $custom-bgcolor;
        margin: 2px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 0.75rem;
        font-family: "Mulish";
    }

    .circle-one {
        background-color: $primary;
        position: relative;
        left: 2px;
    }

    .circle-two {
        background-color: $primary;
        position: relative;
        left: -2px;
    }

    .circle-three {
        background-color: $primary;
        position: relative;
        left: -6px;
    }

    .dash {
        width: 1.875rem;
        height: 1px;
        background-color: $custom-bgcolor;
    }

    .dash-two {
        position: relative;
        left: -4px;
    }

    .header {
        margin-top: 20px;
        h2 {
            color: #191919;
            font: {
                size: 1.175rem;
                weight: 700;
                family: $font;
            }
        }
        p {
            margin-top: 3px;
            font: {
                size: 1.125rem;
                family: $font;
            }
            color: #8B8B8B;
        }
    }

    form {
        margin-top: 20px;

        div {
            border: 1px solid #D1D1D1;
            border-radius: 8px;
            padding: 8px 16px;
            width: 32.5rem;
            height: 3.5rem;
            display: flex;
            justify-content: start;
            align-items: flex-end;
            text-align: center;
            position: relative;
            margin-bottom: 15px;

            p {
                font-family: $font;
                font-size: 0.625rem;
                position: absolute;
                top: 3px;
                color: #AEAEAE;
            }

            input {
                border: none;
                outline: none;
                width: 100%;
                padding-bottom: 5px;
            }
        }

        .password {
            .see-pass {
                width: 1.25rem;
                position: absolute;
                right: 8px;
                top: 20px;
                color: gray;
                cursor: pointer;
            }
        }

        button {
            width: 15rem;
            height: 3.25rem;
            background-color: $primary;
            border: none;
            border-radius: 8px;
            color: white;
            text-align: center;
            margin: 20px 0;
            cursor: pointer;
        }
    }
}